[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "SAMP-API"]
	path = SAMP-API
	url = https://github.com/BlastHackNet/SAMP-API.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "render"]
	path = render
	url = https://gitlab.com/prime-hack/samp/plugins/templates/render.git
[submodule "RakHook"]
	path = RakHook
	url = https://github.com/imring/RakHook.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "magic_enum"]
	path = magic_enum
	url = https://github.com/Neargye/magic_enum.git
